/* media query dimensions

X-Small	    <576px 
Small	    ≥576px
Medium	    ≥768px
Large	    ≥992px
XL	        ≥1200px
XXL	        ≥1400px

 */




@media screen and (min-width: 768px) {
    .sidebar{
        width: 150px;
    }

    .albums{
        width: calc( 100% - 150px );
        height: 100%;
    }

    .upgrade{
        left: 150px;
    }
    
    .sidebar .top-side .spotify-logo2 img{
        width: 100%;
    }

    .spotify-logo1{
        display: none;
    }

    .spotify-logo2{
        display: block;
        padding: 0;
    }

    .icon{
        width: 50px;
    }
    
    .sidebar span{
        display: block;
    }

    .playlist-list{
        display: block;
    }

    hr{
        display: block;
    }
}


@media screen and (min-width: 992px) {
    
}
