/* media query dimensions

X-Small	    <576px 
Small	    ≥576px
Medium	    ≥768px
Large	    ≥992px
XL	        ≥1200px
XXL	        ≥1400px

 */
@media screen and (min-width: 768px) {
    .sidebar{
        width: 150px;
    }

    .albums{
        width: calc( 100% - 150px );
        height: 100%;
    }

    .upgrade{
        left: 150px;
    }
    
    .sidebar .top-side .spotify-logo2 img{
        width: 100%;
    }

    .spotify-logo1{
        display: none;
    }

    .spotify-logo2{
        display: block;
        padding: 0;
    }

    .icon{
        width: 50px;
    }
    
    .sidebar span{
        display: block;
    }

    .playlist-list{
        display: block;
    }

    hr{
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .album-cover,
    .album-release,
    .popular-artists{
        width: calc(100% / 4 - 10px);
        gap: 10px;
        text-align: center;
    }

    .album-release,
    .popular-artists{
        width: calc(100% / 2 - 10px);
        gap: 10px;
        text-align: center;
    }

    .song figure img{
        width: 80px;
    }
    
    .media-player-center,
    .action-menu{
        gap: 15px;
    }
    
    .duration input{
        width: 400px;
    }

    .media-player-center .action-menu i,
    .media-player-right i{
        font-size: 20px;
        
    }
}

@media screen and (min-width: 1400px) {
    .album-cover,
    .album-release,
    .popular-artists{
        width: calc(100% / 6 - 10px);
    }

    .album-release,
    .popular-artists{
        width: calc(100% / 3 - 10px);
        
    }

    .duration input{
        width: 800px;
    }

    .media-player-center .action-menu i,
    .media-player-right i{
        font-size: 25px;
        
    }
}
