*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

:root{
    --web-app-bg-color: #0E0E0E;
    --web-app-bg-top: #080B12;
    --web-app-bg-left: #000000;
    --web-app-bg-middle: #141922;
    --web-app-bg-bottom: #282828;
    --text-color-white: #ffffff;
    --text-color-grey: #717171;
}

body{
    background-color: var(--web-app-bg-color);
}

.menu-left{
    background-color: var(--web-app-bg-left);
    color: var(--text-color-grey);
}

.menu-left figure img{
    width: 10%;
}

.menu-left .nav-buttons ul li img{
    width: 2%;
    filter: invert(43%) sepia(3%) saturate(6%) hue-rotate(314deg) brightness(102%) contrast(92%); /* I'm using this to change the svg color to the same as text */
}

.menu-left .nav-buttons ul li{
    display: flex;
    align-items: center;
}

.menu-left .playlist ul :first-child{
    color: var(--text-color-white);
}


.menu-left .playlist ul li i{
    background-color: var(--text-color-grey);
    color: var(--web-app-bg-left);

    padding: 5px;
    font-size: 25px;
}