*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

/* media query dimensions

X-Small	    <576px 
Small	    ≥576px
Medium	    ≥768px
Large	    ≥992px
XL	        ≥1200px
XXL	        ≥1400px

 */


 /*  Roots and resets  */

:root{
    --web-app-bg-color: #0E0E0E;
    --web-app-bg-top: #080B12;
    --web-app-bg-left: #000000;
    --web-app-bg-middle: #141922;
    --web-app-bg-bottom: #282828;
    --text-color-white: #ffffff;
    --text-color-grey: #717171;
    --svg-filter-color-grey: invert(43%) sepia(3%) saturate(6%) hue-rotate(314deg) brightness(102%) contrast(92%);
   
}

html{
    font-family: sans-serif;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;

}

ul{
    list-style: none;
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

/**************************
    Web app starts here 
***************************/

.web-app{
    height: 100vh;
}

.web-app-top{
    height: calc( 100% - 90px );
    background-color: var(--web-app-bg-top);

    border: 1px solid red;
}

.sidebar{
    width: 50px;
    height: 100%;
    background-color: var(--web-app-bg-left);

    justify-content: space-between;

    border: 1px solid red;
}

.albums{
    width: calc( 100% - 50px );
    height: 100%;
    background-color: var(--web-app-bg-middle);
    color: var(--text-color-white);
    padding-top: 110px;
    padding-bottom: 30px;
    gap: 20px;
    overflow-y: auto;

    border: 1px solid red;
    padding-inline: 20px;
}

.upgrade{
    height: 90px;
    background-color: rgba(8, 11, 18, 0.7);

    position: fixed;
    top: 0;
    left: 50px;
    right: 0;

    justify-content: flex-end;
    align-items: center;
}

.upgrade a{
    color: var(--text-color-white); 
    text-transform: uppercase;
    border: 1px solid var(--text-color-white);
    border-radius: 20px;

    padding-inline: 30px;
    padding-block: 10px;
    margin-right: 10px;

}

.web-app-bottom{
    height: 90px;
    background-color: var(--web-app-bg-bottom);

    border: 1px solid red;
}

.nav-sections ul{
    gap: 20px;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
}

.nav-sections ul li a{
    font-size: 15px;
    text-transform: uppercase;
    color: var(--text-color-white);
    opacity: 0.5;
}

.nav-sections ul li a:hover{
    opacity: 1;
}

.web-app-album-covers{
    flex-wrap: wrap;
    gap: 10px;
}

.album-cover,
.album-release,
.popular-artists{
    width: calc(100% / 2 - 10px);
    gap: 10px;
    text-align: center;
}

.album-cover h3{
    text-transform: capitalize;
}

.album-cover span{
    color: var(--text-color-grey);
    font-size: 12px;
}

.popular-artists figure{
    border-radius: 50%;
}

.popular-artists figure img{
    border-radius: 50%;
    object-fit: cover;
}


/********************
    Sidebar style
*********************/

.sidebar figure img{
    padding: 10px;
}

.profile{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--text-color-grey);

    margin-left: 10px;
    margin-bottom: 10px;
}

/**************************
    Web app bottom style 
***************************/

.song figure img{
    width: 70px;
    padding: 5px;
}

.media-player{
    justify-content: space-between;
    align-items: center;
}

.media-player-center,
.media-player-right,
.song{
    align-items: center;
}

.media-player-center .action-menu i,
.media-player-right i{
    font-size: 15px;
    color: white;
}

.media-player-right,
.action-menu{
    gap: 20px;
}

.name{
    color: var(--text-color-grey);;
}

.author{
    color: var(--text-color-white);
    font-weight: bold;
}

