*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 1px solid red; */
}

:root{
    --web-app-bg-color: #0E0E0E;
    --web-app-bg-top: #080B12;
    --web-app-bg-left: #000000;
    --web-app-bg-middle: #141922;
    --web-app-bg-bottom: #282828;
    --text-color-white: #ffffff;
    --text-color-grey: #717171;
    --svg-filter-color-grey: invert(43%) sepia(3%) saturate(6%) hue-rotate(314deg) brightness(102%) contrast(92%);
}

body{
    background-color: var(--web-app-bg-color);
    font-family: sans-serif;
}

header{
    display: flex;
    justify-content: end;
}

img{
    display: block;
    max-width: 100%;
}

a{
    text-decoration: none;
    color: var(--text-color-grey);
}

li{
    list-style-type: none;
    color: var(--text-color-grey);
}

.flex{
    display: flex;
}

.flex-column{
    flex-direction: column;
}

header{
    width: 100%;
    background-color: var(--web-app-bg-top);
    padding-block: 30px;
    position: absolute;
    right: 0px;
}

.upgrade ul li a{
    color: var(--text-color-white); 
    text-transform: uppercase;
    border: 1px solid var(--text-color-white);
    border-radius: 20px;

    padding-inline: 30px;
    padding-block: 10px;
    margin-right: 10px;
}

.menu-left{
    background-color: #000000;
    width: 200px;
    height: calc(100% - 80px);
    bottom: 80px;
    left: 0;
    position: absolute;
    justify-content: space-between;      
}

.nav-top figure{
    width: 80%;
    margin: 20px;
}

.nav-top ul{
    padding: 20px;
}

.nav-top .playlist .im-white{
    color: var(--text-color-white);
    text-transform: uppercase;
    font-weight: bold;
}

.nav-top ul li{
    padding-block: 10px;
}

.nav-top ul li a,
.nav-top .playlist ul li,
.nav-bottom ul li a{
    display: flex;
    align-items: center;
    gap: 5px;
}

.nav-top ul li a img{
    width: 15%;
    filter: var(--svg-filter-color-grey);
}

.fa-plus{
    background-color: var(--text-color-grey);
    color: var(--web-app-bg-left) ;
    font-size: 30px;
    padding: 5px;
}

.nav-bottom ul li a img{
    height: 20px;
}

.nav-bottom ul li a{
    gap: 5px;
    margin-left: 5px;
    margin-block: 10px;
}

.nav-bottom hr{
    width: 90%;
    margin: 10px auto;
}

.footer{
    width: 100%;
    background-color: var(--web-app-bg-bottom);
    height: 80px;
    position: absolute;
    bottom: 0;
    padding: 7px;
    justify-content: space-between;
    gap: 8px;
}